<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h3>用户登录</h3>
{% if error %}
    <script type="text/javascript">
        alert("{{ error }}");
    </script>
{% endif %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {% for item in form %}
                <div>
                    <label >{{item.label}}:</label>
                    <div>
                        {{item}}
                    </div>
                </div>
    {% endfor %}
    <input  type="submit" value="提交" />
</form>
<a href="{% url 'register' %}">注册</a>
</body>
</html>