<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    
    <title>Devops(alpha)</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/style-responsive.css" rel="stylesheet">
    
    <!-- sweetalert2插件的css -->
	<link href="/static/assets/SweetAlert2/dist/sweetalert2.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
	  	
		      <form class="form-login" action="index.html">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap">
		            <div><input type="text" name="username" autofocus="True" required placeholder="User ID" class="form-control" id="id_username" /></div> 
		            <br>
		            <div><input type="password" name="password" required placeholder="Password" class="form-control" id="id_password" /></div>
		            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="#myModal_forget"> Forgot Password?</a>
		
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
		            <hr>
		            
		            <div class="login-social-link centered">
		            <p>or you can sign in via your social network</p>
		                <button class="btn btn-facebook" type="button" onclick="tips_notopen();"><i class="fa fa-facebook"></i> Facebook</button>
		                <button class="btn btn-twitter" type="button" onclick="tips_notopen();"><i class="fa fa-twitter"></i> Twitter</button>
		            </div>
		  
                    <div class="registration">
		                <a data-toggle="modal" href="#myModal_create">Create an account</a>
		            </div>
		
		        </div>
		
		          <!-- Modal -->
                  <!-- 忘记密码 -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal_forget" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Forgot Password ?</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Enter your e-mail address below to reset your password.</p>
		                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button" >Cancel</button>
		                          <button class="btn btn-theme" type="button" onclick="tips_notopen();">Submit</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
                  <!-- 注册 -->
                  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal_create" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Create an account</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p id="pnewusername">Enter your Username below.</p>
		                          <input type="text" name="new_username" placeholder="Username" autocomplete="off" class="form-control placeholder-no-fix">
                                  <br>
                                  <p id="pneweamil">Enter your e-mail address below.</p>
		                          <input type="text" name="new_email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">  
                                  <br>
                                  <p id="pnewpassword">Enter your Password.</p>                     
		                          <input type="password" name="new_password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix"> 
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" id="create" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		
		      </form>	  	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
	
    <!-- sweetalert2插件的js -->
		<script src="/static/assets/SweetAlert2/dist/sweetalert2.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/static/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/static/assets/img/login-bg.jpg", {speed: 500});
    </script>
	<script>
	//提示：未开通
	function tips_notopen(){
		swal({
			type: 'warning',  
			title: '模块未开通！',  
			confirmButtonText: '确定', 
			confirmButtonColor: '#4cd964' 
		})
	}
	</script>
    <script>
		$(document).ready(function(){
            // 注册按钮
			$("#create").click(function(){
				var user = $("input[name='new_username']").val();
				var code = $("input[name='new_password']").val();
				var email = $("input[name='new_email']").val();
				// 账号未填写
				if (user==''){
					document.getElementById("pnewusername").style.color = 'red';
					$("input[name='new_username']").focus();
					return ;
				}
				// / 账号名合法
				var uPattern = /^[a-zA-Z0-9_]{4,16}$/;
				if (!uPattern.test(user)){
					document.getElementById("pnewusername").innerHTML = '请输入合法的用户名';
					document.getElementById("pnewusername").style.color = 'red';
					$("input[name='new_username']").val("").focus();
					return ;
				}
				// 邮箱未填写
				if (email==''){
					document.getElementById("pneweamil").style.color = 'red';
					$("input[name='new_email']").focus();
					return ;
				}
				// 邮箱合法
				var ePattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
				if (!ePattern.test(email)){
					document.getElementById("pneweamil").innerHTML = '请输入合法的邮箱';
					document.getElementById("pneweamil").style.color = 'red';
					$("input[name='new_email']").val("").focus();
					return ;
				}
				// 密码未填写
				if (code==''){
					document.getElementById("pnewpassword").style.color = 'red';
					$("input[name='new_password']").focus();
					return ;
				}
				// 请求注册
				$.ajax({
					url:"/accounts/register/",
					type:'POST',
					data:{'user': user, 'email': email,'code': code},
					success: function(arg){
						ret = eval(arg);
						if(ret.status){
							swal({  
								type: 'success',  
								title: '注册成功！',  
								confirmButtonText: '确定',  
								confirmButtonColor: '#4cd964'  
							}).then(function(){
								window.location.reload();
							});  
						}else if (ret.reason == 'already existed'){
							swal({  
								type: 'error',  
								title: '用户名已存在！',  
								confirmButtonText: '确定', 
								confirmButtonColor: '#4cd964'  
							})
						}else{
							swal({
								type: 'error',  
								title: '添加失败！',  
								confirmButtonText: '确定', 
								confirmButtonColor: '#4cd964' 
							})
						}
					}
				});
			})
			// 出发用户登陆按钮
			$('form').submit(function(event){
				event.preventDefault();
				var username = $("input[name='username']").val();
				var password = $("input[name='password']").val();
				// 请求登陆
				$.ajax({
					url:"/accounts/loginauth/",
					type:'POST',
					data:{'username': username, 'password': password},
					success: function(arg){
						ret = eval(arg);
						if(ret.status){
							window.location.href='/main/index';
						}else{
							swal({  
								type: 'error',  
								title: '密码错误,请重新登陆！',  
								confirmButtonText: '确定',  
								confirmButtonColor: '#4cd964'  
							})
						}
					}
				});
			})
		})
	</script>
  </body>
</html>
